.circle{
	background: yellow;
	height: 600px;
	width: 600px;
	border-radius: 50%;
}
.circle__eyes{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.eye{
	margin-top: 70px;
	width: 100px;
	height: 220px;
	background: black;
	border-radius: 50%;
}
.circle__smile{
	width: 250px;
	height:150px;
	border-radius:50%;
	margin-left: 150px;
	margin-top: 70px;
}
.smile_sad{
	border-top: 5px solid black;
}
.smile_happy{
	border-bottom: 5px solid black;
}

